body {
    background-color: #ecdcd4;
    text-align: center;

}
h1{
    font-size: 50px;
    text-align: center;
    color: #1f1510;
    margin-top: 100px;
}
table{
    border-collapse: collapse;
    align-self: center; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}
tr, td{
    text-align: center;
    padding: 15px;
    color: #1f1510;
}
td{
    font-size: 20px;
    background-color: rgb(236, 230, 230);
}
th{
    background-color: #dbcec1;
    color: rgb(0, 0, 0);
}

