td{
    font-size: 20px;
    text-align: center;
    padding: 40px;
    background-color: rgb(235, 235, 235);
    color: #223352;

}
table{
    border: 40px;
    border-collapse: collapse;
    align-self: center; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
    
}
body {
    background-color: #dee2e9;
    text-align: center;

}
th{
    background-color: #6485bd;
    color: rgb(255, 255, 255);

}
h1{
    font-size: 60px;
    background-color: #6485bd;
    color: rgb(255, 255, 255);

}
p{
    font-size: 20px;
    color: #223352;
}
.medio{
    padding: auto;
}